<html>
    <!-- have a button POST a click via AJAX -->
    <head>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
        <link rel="stylesheet" href="/static/styles.css"/>
    </head>
    <body >
        <div id="title">
            <h1>Tic Tac Toe</h1>
        </div>

        <div x-data="{state: {{ .state }}, winnerMessage: {{ .winnerMessage }}}">
           <div x-text="winnerMessage" class="status-message" x-show="winnerMessage !== ''"></div>

            <div class="board">
                <template x-for="col in 3">
                    <div class="column">
                    <template x-for="row in 3">
                        <div x-data="{ id: (row - 1) * 3 + (col - 1) }" class="cell">
                            <button
                                class="text"
                                x-text="state[id]"
                                hx-post="/action"
                                :hx-include="'#hidden-' + id"
                                hx-target="body"
                                hx-swap="outerHTML"
                                x-effect="state;htmx.process($el)"
                            ></button>
                            <input type="hidden" :value="id" name="cell-id" :id="'hidden-' + id">
                        </div>
                    </template>
                    </div>
                </template>
            </div>

            <div style="text-align: center; margin-top: 20px;">
                <button 
                    hx-post="/reset" 
                    hx-target="body" 
                    class="reset-button">
                    Reset Game
                </button>
            </div>
        </div>
    </body>
</html>